<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC48XLrevh0moQqhsca47RNy8q0-MAMbZM</string>
	<key>GCM_SENDER_ID</key>
	<string>1064057274590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teddyapp.AgenderApp</string>
	<key>PROJECT_ID</key>
	<string>swiftuiagenderapp</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiagenderapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064057274590:ios:2f9b3bd412f6effc64c24f</string>
</dict>
</plist>